#wp-list-table .user_card {
  width: 300px;
}

#wp_crm_messages_filter .inside {
  margin:0;
  padding:0;
}

.wpp_crm_filter_section_title {
  margin: 0 0 2px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.wp_crm_overview_filters{
  clear: both;
  margin: 5px 0 5px 0;
}

.major-publishing-actions {
    border-top: medium none;
    clear: both;
    padding: 10px 10px 8px;
}

#wp_crm_messages_filter.postbox .inside .publishing-action {
    float: right;
    line-height: 23px;
    text-align: right;
}

.metabox-holder .postbox-container .empty-container, #post-body.columns-2 #side-sortables:empty {
  border: none !important;
  height: auto !important;
}