core/premium
vendor/.
vendor/*
composer.lock
node_modules

.svn
.idea
.idea/workspace.xml
.DS_Store
.dynamic
.Trashes
*.sublime-project
*.sublime-workspace
premium
*.bat
nbproject

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
/nbproject/private/