.misc-pub-section{

  .custom-combobox {
    position: relative;
    display: block;
    margin: 0px;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    margin-left: -1px;
    padding: 0;
    background: #c4c4c4;
  }
  .custom-combobox-input {
    width: 100%;
    margin: 0;
    margin-left: -3px;
    padding: 5px 10px;
    padding-right: 2.2em;
  }
  .custom-combobox-input:focus + a {
    border-color: #5b9dd9;
    border-left: 0;
    -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  }

  .ui-state-default{
    background: none;
  }
}